

<div id="body" (scroll)="scroll()">
  <div class="col-md-12" style="text-align:right; padding-right:0; background-color: rgb(50,76,125);">
    <div class="topbar  col-md-3 col-md-offset-8">
      <a class="style-a" style="margin-right:5px" routerLink="/dangky">Đăng ký</a>
      <a class="style-a"href="#">Đăng nhập</a>
    </div>
  </div>

  <div id="scrollMenu"class="taskbar col-md-12" style="text-align:right; padding-right:0;">
    

    <nav class="col-md-9 col-md-offset-1 navbar">
      <div>
        <img src="http://carenefit.vn/Portals/1839/CARENEFIT-slogan-01.png?ver=2017-08-01-014159-387" width="auto" height="80px">
      </div>
      <div class="container-fluid">
        <div class="navbar-header">

        </div>
        <ul class="nav navbar-nav">
          <li class="active">
            <li>
              <a  routerLink="/bangdieukhien">Bảng điều khiển</a>
            </li>
            <li>
              <a href="#">Thông tin</a>
            </li>
            <li>
              <a href="#">Tin tức</a>
            </li>
            <li>
              <a href="#">Sự kiện</a>
            </li>
            <li>
              <a href="#">Hỏi đáp</a>
            </li>
            <li>
              <a href="#">Liên hệ</a>
            </li>
        </ul>
      </div>
    </nav>
  
  <div class="col-md-12" style="text-align:right; padding-right:0; background-color: rgb(50,76,125);height:40px;">
      <!-- <span >Click to open</span> -->
      <div><i id="menu" class="fa fa-bars fa-2x" aria-hidden="true" style="float:left; color:white;padding-top:5px" (click)="status()"></i></div>

    <!-- Tất cả phần này cần nằm trong thẻ div của file html nha :) -->
    <!-- Đây là nội dung của slide menu -->
    <div id="mySidenav" class="sidenav">
     
      <a href="#"><i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i>Tài khoản</a>
      <a href="#">PHR</a>
      <a href="#"><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>Thông báo</a>
      <a href="#">Điểm thưởng</a>
      <a href="#">Biểu đồ</a>
      <a href="#">Lich sử</a>
      <a href="#">Cấu hình</a>
      
    </div>

    <!-- Các bạn có thể dùng bất cứ thẻ nào để open slide -->
    
    

  </div>
</div>

</div>