

<div class="body" >
  <div class="wallpaper">
    <form id="register" class="col-md-3 col-md-offset-8" style=" border-radius: 15px;">
      <div class="form-group">
        <label for="email">Tài khoản</label>
        <input type="email" class="form-control" id="email" placeholder="loc.ngo@bys.vn" name="email">
      </div>
      <div class="form-group">

        <label for="pwd">Mật khẩu:</label>
        
        <input type="password" class="form-control" id="pwd" placeholder="*******" name="pwd">
      </div>

      <input class="btn btn-primary btn-block" type="button" value="Đăng nhập">
      <div class="form-check form-group">

        <input type="checkbox" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
        <label class="form-check-label">Ghi nhớ tài khoản </label>
        <a href="#" style="color:white">
          <em>Lấy lại mật khẩu</em>
        </a>

      </div>
      <div class="form-group">
        <label>Bạn chưa có tài khoản?</label>
        <input class="btn btn-primary btn-block" type="button" value="Đăng ký">
      </div>
      <div class="form-group">
        <label>Đăng nhập bằng</label>
        <br>
        <a href="#">
          <img class="img-rounded" width="50" height="50" src="http://arit.lpru.ac.th/KM/img/fb.jpg">
        </a>
        <a href="#">
          <img class="img-rounded" width="50" height="50" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Google_plus_icon.svg/2000px-Google_plus_icon.svg.png">
        </a>

      </div>


    </form>
  </div>

</div>