<div class="col-md-10 col-md-offset-1">
  <h3>YÊU CẦU DỊCH VỤ Y TẾ</h3>
  <form class="col-md-6"  [formGroup]="requestForm">
    <div class="form-group row">
      <label class="col-md-2" for="Bảo hiểm">Bảo hiểm</label>
      <div class="col-md-7">
        <select class="form-control" id="Bảo hiểm">
          <option>Không có bảo hiểm</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2" for="Dịch vụ">Dịch vụ</label>
      <div class="col-md-2">
        <select class="form-control" id="Dịch vụ">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
    </div>
    <div  class="form-group row"formArrayName="dichVu">
      <div class="col-md-2 col-md-offset-2" *ngFor = "let dichvu of dichVuArr.controls; let i = index"[formGroupName]="i">
        <input class="form-control" formControlName="tenDichVu">
      </div>
    </div>
    <button type="button" (click)="themDichVu()">Add</button>
    <div class="form-group row">
      <label class="col-md-2" for="Ngày khám">Ngày khám</label>
      <div class="col-md-7">
        <input class="form-control" type="date">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2" for="Nơi khám">Nơi khám</label>
      <div class="col-md-7">
        <select class="form-control" id="Nơi khám">
          <option>Chọn nơi khám để hiện giá</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2" for="Nơi khám" style="white-space:nowrap">Tính bảo mật</label>
      <div class="col-md-7">
        <input class="checkbox-primary" type="checkbox"> Niêm phong kết quả theo hồ sơ cá nhân
      </div>
    </div>

  </form>
  <div class="col-md-4 col-md-offset-1">
    <h3 id="report">THÔNG TIN YÊU CẦU</h3>
    <div>Ngày khám</div>
    <div>Nơi khám</div>
    <div>Bảo hiểm</div>
    <div>Dịch vụ</div>
    <div>TỔNG CỘNG</div>
    <input class="col-md-3 col-md-offset-3 btn btn-primary" value="Đồng ý" id="yes">
    <input class="col-md-3 btn btn-primary" value="Quay lại" id="back">
  </div>


</div>